<header>
    <h1><a href="/" style="color: white ">CMS</a></h1>
    <nav>
        <a href="/createBlogs">AddBlogs</a>
        <a href="/createBlogs">Register</a>
        <a href="/createBlogs">Log in</a>

    </nav>
</header>